# API Base URL
# Local Dev: http://localhost:5037
# Docker Compose: / (uses nginx proxy)
# Production: https://api.yourproductiondomain.com
VITE_CURRENCY_CONVERTER_API_URL=https://api.yourproductiondomain.com
